@{
	ViewData["Title"] = "Registration Page";
	Layout = null;
}
<link rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
<link href="~/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<style>

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type=number] {
		-moz-appearance: textfield;
	}

	.form-section {
		list-style: none;
	}

	.form-label.form-label-left,
	.form-label.form-label-right,
	.form-label.form-label-left.form-label-auto,
	.form-label.form-label-right.form-label-auto {
		width: 230px;
	}

	.form-label-top,
	.form-label-left,
	.form-label-right,
	.form-label.form-label-auto {
		display: block;
		float: none;
		text-align: left;
		width: 100%;
	}

	.line-icon {
		display: flex;
		align-items: center;
		text-align: center;
		margin: 20px 0;
		position: relative;
	}

		.line-icon hr {
			flex: 1;
			border: none;
			height: 1px;
			background: #ccc;
			border-style: solid;
			border-width: 0 0 1px 0;
		}

		.line-icon::before {
			content:; /* Replace with your desired icon code */
			font-family: "Font Awesome 5 Free";
			font-weight: 400;
			font-size: 18px;
			color: #ccc;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			padding-right: 10px;
		}

	.form-header {
		font-size: 30px;
		margin-bottom: 20px;
		text-align: center;
	}

	.form-header-content {
		font-size: 25px;
		margin-bottom: 20px;
	}

	.form-section {
		list-style: none;
		margin: 0;
		padding: 0;
	}

		.form-section > li {
			margin-bottom: 20px;
		}

	.form-group {
		margin-bottom: 10px;
	}

		.form-group label {
			display: block;
			font-weight: bold;
			margin-bottom: 5px;
		}

	.form-control {
		display: block;
		width: 100%;
		height: calc(2.25rem + 2px);
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		line-height: 1.5;
		color: #495057;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		border-radius: 0.25rem;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	}

		.form-control:focus {
			border-color: #80bdff;
			outline: 0;
			box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
		}

	.form-text {
		margin-top: 5px;
		font-size: 0.875rem;
		color: #6c757d;
	}

	.card {
		background-color: #fff;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
		border-radius: 25px;
		border: 1px solid #ccc;
		padding: 20px;
	}

	.radio-buttons {
		display: flex;
		flex-direction: row;
	}

	.radio-button {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-right: 20px;
	}

		.radio-button input[type="radio"] {
			margin-right: 5px;
		}

	.button {
		margin: 0 auto;
		display: inline-block;
		padding: 15px 25px;
		font-size: 24px;
		cursor: pointer;
		display: block;
		text-align: center;
		text-decoration: none;
		outline: none;
		color: #fff;
		background-color: #0047AB;
		border: none;
		border-radius: 15px;
		box-shadow: 0 9px;
	}

		.button:hover {
			background-color: #6495ED;
			border: none;
		}

		.button:active {
			background-color: #0047AB;
			border: none;
		}
	/*just bg and body style*/
	.container1 {
		background-color: #fff;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
		padding-bottom: 20px;
		margin-top: 30px;
		margin-right: 100px;
		margin-left: 100px;
		border-radius: 5px;
	}

	.center {
		text-align: center;
	}

	#top {
		margin-top: 20px;
	}

	.btn-container {
		background: #fff;
		border-radius: 5px;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-bottom: 20px;
		margin-left: 100px;
		margin-right: 100px;
	}

	.white {
		color: white;
	}

	.imgupload {
		color: #1E2832;
		padding-top: 40px;
		font-size: 7em;
	}

	#namefile {
		color: black;
	}

	h4 > strong {
		color: #ff3f3f
	}

	.btn-primary {
		border-color: #6F8FAF !important;
		color: #ffffff;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		background-color: #6F8FAF !important;
		border-color: #6F8FAF !important;
	}
	/*these two are set to not display at start*/
	.imgupload.ok {
		display: none;
		color: green;
	}

	.imgupload.stop {
		display: none;
		color: red;
	}
	/*this sets the actual file input to overlay our button*/
	#fileup {
		opacity: 0;
		-moz-opacity: 0;
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
		width: 200px;
		cursor: pointer;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 40px;
		height: 50px;
	}

	#resumeup {
		opacity: 0;
		-moz-opacity: 0;
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
		width: 200px;
		cursor: pointer;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 40px;
		height: 50px;
	}

	.pdfupload.ok {
		display: none;
		color: green;
	}

	.pdfupload.stop {
		display: none;
		color: red;
	}

	.pdfupload {
		color: #1E2832;
		padding-top: 40px;
		font-size: 7em;
	}

	#pdfnamefile {
		color: black;
	}

	/*.header-text p {
					text-align: justify;
				}*/
</style>

<div class="modal fade" id="messageModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<!-- The messages container -->
				<div id="errors">
				</div>
			</div>
		</div>
	</div>
</div>
<section class="vh-500" style="background-color: #fff;">
	<div class="container h-8">
		<div class="row d-flex justify-content-center align-items-center h-50">
			<div class="col-lg-12 col-xl-9">
				<div class="card text-black" style="border-radius: 25px;">
					<div class="card-body p-md-10">


						<div class="form-header-group  header-large">
							<div class="header-text httac htvam">
								<h1 class=" form-header">Candidate Registration</h1>
								<div class="line-icon">
									<hr>
								</div>
								<form onsubmit="SaveRecord()">
									<ul class="form-section page-section">
										<li class="form-line">
											<div class="form-header-group  header-small">
												<div class="header-text httal htvam">
													<h3 id="header_28" class="form-header-content" data-component="header">Personal Information</h3>
													<hr />
												</div>
											</div>
										</li>
										<li class="form-line row">
											@*<label class="form-label form-label-top form-label-auto" id="label_1" for="first_1"> Full Name<span class="form-required">*</span> </label>*@
											<div class="col-md-6">
												<div class="form-group">
													<label for="first_name">First Name <span style="color:red">*</span> </label>
													<input type="text" class="form-control" id="first_name" data-type="input-textbox" pattern="[A-Za-z]+" aria-describedby="first_nameHelp" placeholder="First Name" required="" oninput="this.value = this.value.replace(/[^A-za-z]/g, '');">
													<small id="firstname" class="form-text text-muted">Enter alphabets only</small>
													<span asp-validation-for="firstname" class="text-danger" id="firstnameError"></span>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="last_name">Last Name <span style="color:red">*</span> </label>
													<input type="text" class="form-control" id="last_name" data-type="input-textbox" pattern="[A-Za-z]+" aria-describedby="emailHelp" placeholder="Last Name" required="" oninput="this.value = this.value.replace(/[^A-za-z]/g, '');">
													<small id="lastname" class="form-text text-muted">Enter alphabets only</small>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label for="exampleInputEmail1">Address <span style="color:red">*</span> </label>
													<input type="text" class="form-control" id="Address" aria-describedby="AddresslHelp" placeholder="Address" required="">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="city">City <span style="color:red">*</span> </label>
													<input type="text" class="form-control" id="city" data-type="input-textbox" pattern="[A-Za-z]+" aria-describedby="cityHelp" placeholder="City" required="" oninput="this.value = this.value.replace(/[^A-za-z]/g, '');">
													<small id="city_" class="form-text text-muted">Enter alphabets only</small>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="last_name">State <span style="color:red">*</span> </label>
													<input type="text" class="form-control" id="State" data-type="input-textbox" pattern="[A-Za-z]+" aria-describedby="stateHelp" placeholder="State" required="" oninput="this.value = this.value.replace(/[^A-za-z]/g, '');">
													<small id="State_" class="form-text text-muted">Enter alphabets only</small>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="phone_number">Phone Number <span style="color:red">*</span>  </label>
													<input type="tel" class="form-control" id="phone_number" data-component="phone" aria-describedby="cityHelp" data-type="mask-number" data-masked="true" placeholder="" required="" maxlength="10" pattern="[0-9]{10}" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
													<small id="phonenumber" class="form-text text-muted">Please enter your 10-digit phone number.</small>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="email">E-Mail<span style="color:red">*</span> </label>
													<input type="email" class="form-control" name="email" id="email" pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,4}$" data-type="input-textbox" aria-describedby="emailHelp" placeholder="ex: myname@example.com" required>
													<span asp-validation-for="Designation" class="text-danger" id="EmailError"></span>
													<small id="emailid" class="form-text text-muted">ex: myname@example.com</small>
												</div>
											</div>
											<br>
										</li>
										<li class="form-line">
											<div class="form-header-group  header-small">
												<div class="header-text httal htvam">
													<h3 id="header_28" class="form-header-content" data-component="header">Education Information</h3>
													<hr />
												</div>
											</div>
										</li>
										<li class="form-line row">
											<div class="col-md-6">
												<div class="form-group">
													<label for="10th_pr">10th Grade Percentage <span style="color:red">*</span> </label>
													<input type="number" class="form-control" id="10th_pr" aria-describedby="10prHelp" placeholder="" min="1" max="100" step="0.01" required="">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="12th_pr">12th Grade Percentage</label>
													<input type="number" class="form-control" id="12th_pr" aria-describedby="12prHelp" placeholder="" min="1" max="100" step="0.01">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="degreeinfo">Area of Study/Degree <span style="color:red">*</span> </label>
													<input type="text" class="form-control" id="degreeinfo" aria-describedby="degreeinfo" placeholder="" oninput="this.value = this.value.replace(/[0-9/s]/g, '');" required>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="12th_pr">Percentage Obtained in the Course <span style="color:red">*</span> </label>
													<input type="number" class="form-control" id="degreepr" data-component="phone" aria-describedby="degreeprHelp" min="1" max="100" step="0.01" placeholder="" required>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="12th_pr">Do you have any academic backlog? <span style="color:red">*</span> </label>
													<div class="radio-buttons">
														<div class="radio-button">
															<input type="radio" id="backlog" name="backlog" value=true onchange="backlogrbtn(backlog)" required>
															<label for="yes">Yes</label>
														</div>
														<div class="radio-button">
															<input type="radio" id="backlog" name="backlog" value=false onchange="backlogrbtn(backlog)">
															<label for="no">No</label>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li class="form-line">
											<div class="form-header-group  header-small">
												<div class="header-text httal htvam">
													<h3 id="header_28" class="form-header-content" data-component="header">Employment Desired</h3>
													<hr />
												</div>
											</div>
										</li>
										<li class="form-line row">
											<div class="col-md-6">
												<div class="form-group">
													<label for="10th_pr">Position Applying For <span style="color:red">*</span> </label>
													<select class="form-control" required id="technology">
														<option value="" disabled selected>Please Select</option>
														@foreach (var technology in ViewBag.TechnologyList)
														{
															<option value="@technology.TechnologyId">@technology.TechnologyName</option>
														}
													</select>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="skills">Skills</label>
													<input type="text" class="form-control" id="skills" aria-describedby="12prHelp" placeholder="" oninput="this.value = this.value.replace(/[^A-za-z]/g, '');">
													<small id="skill" class="form-text text-muted">Enter alphabets only</small>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="location">Agree for change location? <span style="color:red">*</span> </label>
													<div class="radio-buttons">
														<div class="radio-button">
															<input type="radio" id="location" name="location" value=true onchange="locationrbtn(location)" required>
															<label for="yes">Yes</label>
														</div>
														<div class="radio-button">
															<input type="radio" id="location" name="location" value=false onchange="locationrbtn(location)">
															<label for="no">No</label>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li class="form-line">
											<div class="form-header-group  header-small">
												<div class="header-text httal htvam">
													<h3 id="header_28" class="form-header-content" data-component="header">Previous Employment</h3>
													<hr />
												</div>
											</div>
										</li>
										<li class="form-line row">
											@*<label class="form-label form-label-top form-label-auto" id="label_1" for="first_1"> Full Name<span class="form-required">*</span> </label>*@
											<div class="col-md-6">
												<div class="form-group">
													<label for="12th_pr">Do you have any work experience? <span style="color:red">*</span> </label>
													<div class="radio-buttons">
														<div class="radio-button">
															<input type="radio" id="experience" name="experience" value=true onchange="experiencerbtn(experience)">
															<label for="yes">Yes</label>
														</div>
														<div class="radio-button">
															<input type="radio" id="experience" name="experience" value=false onchange="experiencerbtn(experience)" required>
															<label for="no">No</label>
														</div>

													</div>
												</div>
											</div>
											
											<div class="col-md-6" id="showExperiencefield" style="display: none;">
												<div class="form-group">
													<label for="experience">Number of Years in Relevant Work Experience <span style="color:red">*</span> </label>
													<input type="number" class="form-control" id="experience_number" aria-describedby="experienceHelp" placeholder="" min="0" max="50" step="0.01">

												</div>
											</div>
											<div class="col-md-6" id="showCurrentsalaryfield" style="display: none;">
												<div class="form-group">
													<label for="currentsalary">Current Salary <span style="color:red">*</span> </label>
													<input type="number" class="form-control" id="currentsalary" aria-describedby="currentsalaryHelp" placeholder="" min="0" >
												</div>
											</div>
											<div class="col-md-6" id="showExpectedsalaryfield" style="display: none;">
												<div class="form-group">
													<label for="expectedsalary">Expected Salary <span style="color:red">*</span> </label>
													<input type="number" class="form-control" id="expectedsalary" data-type="input-textbox" aria-describedby="expectedsalaryHelp" placeholder="" min="0">
												</div>
											</div>
											<div class="col-md-12" id="showReasonfield" style="display: none;">
												<div class="form-group">
													<label for="Reason">Reason for Leaving? <span style="color:red">*</span> </label>
													<input type="text" class="form-control" id="Reason" aria-describedby="ReasonHelp" placeholder="">
												</div>
											</div>
											
										</li>

										<li class="form-line">
											<div class="form-header-group  header-small">
												<div class="header-text httal htvam">
													<h3 id="header_28" class="form-header-content" data-component="header">Reference</h3>
													<hr />
												</div>
											</div>
										</li>
										<li class="form-line row">
											@*<label class="form-label form-label-top form-label-auto" id="label_1" for="first_1"> Full Name<span class="form-required">*</span> </label>*@
											<div class="col-md-6">
												<div class="form-group">
													<label for="Reference">Reference </label>
													<input type="text" class="form-control" id="Reference" data-type="input-textbox" pattern="[A-Za-z]+" aria-describedby="first_nameHelp" placeholder="Name of Reference" oninput="this.value = this.value.replace(/[0-9]/g, '');">
													<small id="Reference1" class="form-text text-muted">Enter alphabets only</small>
												</div>
											</div>
										</li>
										<li class="form-line">
											<div class="form-header-group  header-small">
												<div class="header-text httal htvam">
													<h3 id="header_28" class="form-header-content" data-component="header">	Resume <span style="color:red">*</span> </h3>
													<hr />
												</div>
											</div>
										</li>
										@*<li>
										<div class="container1 center">
										<div class="row">
										<div class="col-md-12">
										<h2 class="white">Image Upload</h2>
										<p class="white"></p>
										</div>
										</div>
										<div class="row">
										<div class="col-md-12 col-md-offset-3 center">
										<div class="btn-container">
										<p id="namefile">Only pics allowed! (jpg,jpeg,bmp,png)</p>
										<button type="button" id="btnup" class="btn btn-primary btn-lg">Browse for your pic!</button>
										<input type="file" value="" name="fileup" id="fileup" required="">
										</div>
										</div>
										</div>
										</div>
										</li>*@
										<li>
											<div class="container1 center">
												<div class="row">
													<div class="col-md-12">
														<h2 class="white">Resume Upload</h2>
														<p class="white"></p>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12 col-md-offset-3 center">
														<div class="btn-container">
															<p id="pdfnamefile" style="text-align:center;">Only pdf allowed!</p>
															<button type="button" id="pdfbtnup" class="btn btn-primary btn-lg">Browse for your resume!</button>
															<input type="file" value="" name="resumeup" id="resumeup" accept="application/pdf" required="">
															<p id="file-result"></p>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li class="form-line">
											<div class="form-header-group  header-small">
												<div class="header-text httal htvam">
													<h3 id="header_28" class="form-header-content" data-component="header">Send Application</h3>
													<hr />
												</div>
											</div>
										</li>
										<li class="form-line">
											<div class="form-header-group  header-small">
												<div class="header-text httal htvam">
													<p style="text-align:justify;">
														By clicking the submit button below, I certify that all of the information provided by me on this application is true and complete, and I understand that if any false information,
														omissions, or misrepresentations are discovered, my application may be rejected.
													</p>
												</div>
											</div>
										</li>
										<li class="form-line">
											<div class="form-header-group  header-small">
												<div class="header-text httal htvam">
													<hr />
												</div>
											</div>
										</li>
									</ul>
									<div id="cid_2" class="form-input-wide" data-layout="full">
										<div data-align="center">
											<input id="submit" type="submit" value="Submit" class="button">

										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="~/js/jquery/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript" language="javascript">
	var pdfString;
	var exprience;

	function experiencerbtn(e) {
		if (e.value == "true") {
			document.getElementById("showExperiencefield").style.display = "block";
			document.getElementById("showCurrentsalaryfield").style.display = "block";
			document.getElementById("showExpectedsalaryfield").style.display = "block";
			document.getElementById("showReasonfield").style.display = "block";
			$('#experience_number').prop('required', true);
			$('#currentsalary').prop('required', true);
			$('#expectedsalary').prop('required', true);
			$('#Reason').prop('required', true);
			return;
		}
		else {
			document.getElementById("showExperiencefield").style.display = "none";
			document.getElementById("showCurrentsalaryfield").style.display = "none";
			document.getElementById("showExpectedsalaryfield").style.display = "none";
			document.getElementById("showReasonfield").style.display = "none";
			$('#experience_number').prop('required', false);
			$('#currentsalary').prop('required', false);
			$('#expectedsalary').prop('required', false);
			$('#Reason').prop('required', false);
			return null;
		}
	}

	$('#resumeup').change(function () {
		//here we take the file extension and set an array of valid extensions
		var res = $('#resumeup').val();
		var arr = res.split("\\");
		var filename = arr.slice(-1)[0];
		filextension = filename.split(".");
		filext = "." + filextension.slice(-1)[0];
		valid = [".pdf"];

		//if (res.files[0].size > 2097152) {
		//	lblError.innerHTML = "File size is more than 2 MB.";
		//	return;
		//}
		//if file is not valid we show the error icon, the red alert, and hide the submit button
		if (valid.indexOf(filext.toLowerCase()) == -1) {
			$('#pdfnamefile').css({ "color": "red", "font-weight": 700 });
			$('#pdfnamefile').html("File " + filename + " is not  pdf!");

		} else {
			//if file is valid we show the green alert and show the valid submit
			$('#pdfnamefile').css({ "color": "green", "font-weight": 700 });
			$('#pdfnamefile').html(filename);
		}

		// Select the very first file from list
		var selectedFile = document.getElementById("resumeup").files;

		//Check File is not Empty
		if (selectedFile.length > 0) {

			const fileSize = selectedFile[0].size;
			const fileMb = fileSize / 1024 ** 2;
			if (fileMb >= 2) {
				$('#pdfnamefile').css({ "color": "red", "font-weight": 700 });
				$('#pdfnamefile').html(filename + "<br> Please select a file less than 2MB.");
				return false;
			} else {
				$('#pdfnamefile').css({ "color": "green", "font-weight": 700 });
				$('#pdfnamefile').html(filename);
			}
			// Select the very first file from list
			var fileToLoad = selectedFile[0];
			// FileReader function for read the file.
			var fileReader = new FileReader();


			// Onload of file read the file content
			fileReader.onload = function (fileLoadedEvent) {

				var base64 = fileLoadedEvent.target.result;

				// Print data in console
				console.log(base64);
				base64String = base64
				pdfString = base64.split(',')[1];


			};
			// Convert data to base64
			fileReader.readAsDataURL(fileToLoad);
		}
	});


	function SaveRecord() {
		var backlogValue = $("input[name='backlog']:checked").val();
		var locationValue = $("input[name='location']:checked").val();
		var isExperienceValue=$("input[name='experience']:checked").val()
		var querystring = {
			firstName: $('#first_name').val(),
			lastName: $('#last_name').val(),
			Email: $('#email').val(),
			ContactNo: $('#phone_number').val(),
			Skills: $('#skills').val(),
			AgreeForChangeLocation: locationValue,
			City: $('#city').val(),
			State: $('#State').val(),
			Address: $('#Address').val(),
			PR_10: $('#10th_pr').val(),
			PR_12: $('#12th_pr').val(),
			areaofstudy: $('#degreeinfo').val(),
			College_CGPA: $('#degreepr').val(),
			backlog: backlogValue,
			TechnologyId: $('#technology').val(),
			IsExperience: isExperienceValue,
			TotalExperience: $('#experience_number').val(),
			CurrentCTC: $('#currentsalary').val(),
			ExpectedCTC: $('#expectedsalary').val(),
			ReasoneForChange: $('#Reason').val(),
			Reference: $('#Reference').val(),
			resume: pdfString
		}
		
		// Make the AJAX call
		$.ajax({
			url: '/Candidate/CandidateRegistration',
			method: 'POST',
			data: querystring,
			success: function (response) {
				alert(response.message);
				location.reload();

			},
			error: function (response) {
				alert(response.responseJSON.message);
				location.reload();

			}
		});
	}

</script>

<script src="~/js/jquery/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

</script>
@*@section Scripts {
		@{
			await Html.RenderPartialAsync("_ValidationScriptsPartial");
		}

	}*@





