<link rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
<link href="~/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<style>

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type=number] {
		-moz-appearance: textfield;
	}
	.form-section {
	list-style: none;
	}
	.form-label.form-label-left,
	.form-label.form-label-right,
	.form-label.form-label-left.form-label-auto,
	.form-label.form-label-right.form-label-auto {
	width: 230px;
	}
	.form-label-top,
	.form-label-left,
	.form-label-right,
	.form-label.form-label-auto {
		display: block;
		float: none;
		text-align: left;
		width: 100%;
	}
	.line-icon {
		display: flex;
		align-items: center;
		text-align: center;
		margin: 20px 0;
		position: relative;
	}
	.line-icon hr {
		flex: 1;
		border: none;
		height: 1px;
		background: #ccc;
		border-style: solid;
		border-width: 0 0 1px 0;
	}
	.line-icon::before {
		content:; /* Replace with your desired icon code */
		font-family: "Font Awesome 5 Free";
		font-weight: 400;
		font-size: 18px;
		color: #ccc;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		padding-right: 10px;
	}
	.form-header {
		font-size: 30px;
		margin-bottom: 20px;
		text-align: center;
	}
	.form-header-content {
		font-size: 25px;
		margin-bottom: 20px;
	}
	.form-section {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.form-section > li {
		margin-bottom: 20px;
	}
	.form-group {
		margin-bottom: 10px;
	}
	.form-group label {
		display: block;
		font-weight: bold;
		margin-bottom: 5px;
	}
	.form-control {
		display: block;
		width: 100%;
		height: calc(2.25rem + 2px);
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		line-height: 1.5;
		color: #495057;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		border-radius: 0.25rem;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	}
	.form-control:focus {
		border-color: #80bdff;
		outline: 0;
		box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	}
	.form-text {
		margin-top: 5px;
		font-size: 0.875rem;
		color: #6c757d;
	}
	.card {
		background-color: #fff;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
		border-radius: 25px;
		border: 1px solid #ccc;
		padding: 20px;
	}
	.radio-buttons {
		display: flex;
		flex-direction: row;
	}
	.radio-button {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-right: 20px;
	}
	.radio-button input[type="radio"] {
		margin-right: 5px;
	}
	.button {
		margin: 0 auto;
		display: inline-block;
		padding: 15px 25px;
		font-size: 24px;
		cursor: pointer;
		display: block;
		text-align: center;
		text-decoration: none;
		outline: none;
		color: #fff;
		background-color: #0047AB;
		border: none;
		border-radius: 15px;
		box-shadow: 0 9px;
	}
	.button:hover {
		background-color: #6495ED;
		border: none;
	}
	.button:active {
		background-color: #0047AB;
		border: none;
	}
	/*just bg and body style*/
	.container1 {
		background-color: #fff;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
		padding-bottom: 20px;
		margin-top: 30px;
		margin-right: 100px;
		margin-left: 100px;
		border-radius: 5px;
	}
	.center {
		text-align: center;
	}
	#top {
		margin-top: 20px;
	}
	.btn-container {
		background: #fff;
		border-radius: 5px;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-bottom: 20px;
		margin-left: 100px;
		margin-right: 100px;
	}
	.white {
		color: white;
	}
	.imgupload {
		color: #1E2832;
		padding-top: 40px;
		font-size: 7em;
	}
	#namefile {
		color: black;
	}
	h4 > strong {
		color: #ff3f3f
	}
	.btn-primary {
		border-color: #6F8FAF !important;
		color: #ffffff;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		background-color: #6F8FAF !important;
		border-color: #6F8FAF !important;
	}
	/*these two are set to not display at start*/
	.imgupload.ok {
		display: none;
		color: green;
	}
	.imgupload.stop {
		display: none;
		color: red;
	}
	/*this sets the actual file input to overlay our button*/
	#fileup {
		opacity: 0;
		-moz-opacity: 0;
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
		width: 200px;
		cursor: pointer;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 40px;
		height: 50px;
	}
	#resumeup {
		opacity: 0;
		-moz-opacity: 0;
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
		width: 200px;
		cursor: pointer;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 40px;
		height: 50px;
	}
	.pdfupload.ok {
		display: none;
		color: green;
	}
	.pdfupload.stop {
		display: none;
		color: red;
	}
	.pdfupload {
		color: #1E2832;
		padding-top: 40px;
		font-size: 7em;
	}
	#pdfnamefile {
		color: black;
	}
</style>
<section class="vh-500" style="background-color: #fff;">
	<div class="container h-8">
		<div class="row d-flex justify-content-center align-items-center h-50">
			<div class="col-lg-12 col-xl-9">
				<div class="card text-black" style="border-radius: 25px;">
					<div class="card-body p-md-10">
						<div class="form-header-group  header-large">
							<div class="header-text httac htvam">
								<h1 class=" form-header">Candidate Registration</h1>
								<div class="line-icon">
									<hr>
								</div>
								<form method="post" id="form" enctype="multipart/form-data" accept-charset="utf-8" >
									<ul class="form-section page-section">
										<li class="form-line">
											<div class="form-header-group  header-small">
												<div class="header-text httal htvam">
													<h3 id="header_28" class="form-header-content" data-component="header">Personal Information</h3>
													<hr />
												</div>
											</div>
										</li>
										<li class="form-line row">
											@*<label class="form-label form-label-top form-label-auto" id="label_1" for="first_1"> Full Name<span class="form-required">*</span> </label>*@
											<div class="col-md-6">
												<div class="form-group">
													<label for="first_name">First Name</label>
													<input type="text" class="form-control" id="first_name" data-type="input-textbox" pattern="[A-Za-z]+" aria-describedby="first_nameHelp" placeholder="First Name" required="">
													<small id="firstname" class="form-text text-muted">Enter alphabets only</small>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="last_name">Last Name</label>
													<input type="text" class="form-control" id="last_name" data-type="input-textbox" pattern="[A-Za-z]+" aria-describedby="emailHelp" placeholder="Last Name" required="">
													<small id="lastname" class="form-text text-muted">Enter alphabets only</small>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label for="exampleInputEmail1">Address</label>
													<input type="text" class="form-control" id="Address" aria-describedby="AddresslHelp" placeholder="Address" required="">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="city">City</label>
													<input type="text" class="form-control" id="city" data-type="input-textbox" pattern="[A-Za-z]+" aria-describedby="cityHelp" placeholder="City" required="">
													<small id="city_" class="form-text text-muted">Enter alphabets only</small>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="last_name">State</label>
													<input type="text" class="form-control" id="State" data-type="input-textbox" pattern="[A-Za-z]+" aria-describedby="stateHelp" placeholder="State" required="">
													<small id="State_" class="form-text text-muted">Enter alphabets only</small>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="phone_number">Phone Number</label>
													<input type="tel" class="form-control" id="phone_number" data-component="phone" aria-describedby="cityHelp" data-type="mask-number" data-masked="true" placeholder="" required="" maxlength="10" pattern="[0-9]{10}" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
													<small id="phonenumber" class="form-text text-muted">Please enter your 10-digit phone number.</small>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="email">E-Mail</label>
													<input type="email" class="form-control" id="email" @*pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/."*@ data-type="input-textbox" aria-describedby="emailHelp" placeholder="ex: Myname@example.com" required="">
													
												</div>
											</div>
											<br>
										</li>
										<li class="form-line">
											<div class="form-header-group  header-small">
												<div class="header-text httal htvam">
													<h3 id="header_28" class="form-header-content" data-component="header">Education Information</h3>
													<hr />
												</div>
											</div>
										</li>
										<li class="form-line row">
											<div class="col-md-6">
												<div class="form-group">
													<label for="10th_pr">10th Grade Percentage</label>
													<input type="number" class="form-control" id="10th_pr"  aria-describedby="10prHelp" placeholder="" min="1" max="100" step="0.01" required="" >
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="12th_pr">12th Grade Percentage</label>
													<input type="text" class="form-control" id="12th_pr"  aria-describedby="12prHelp" placeholder="" min="1" max="100" step="0.01" >
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="degreeinfo">Area of Study/Degree</label>
													<input type="text" class="form-control" id="degreeinfo" aria-describedby="degreeinfo" placeholder="">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="12th_pr">Percentage Obtained in the Course</label>
													<input type="number" class="form-control" id="degreepr" data-component="phone" aria-describedby="degreeprHelp" min="1" max="10" step="0.01" placeholder="" >
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="12th_pr">Do you have any academic backlog?</label>
													<div class="radio-buttons">
														<div class="radio-button">
															<input type="radio" id="backlog" name="backlog" value="yes" required>
															<label for="yes">Yes</label>
														</div>
														<div class="radio-button">
															<input type="radio" id="backlog" name="backlog" value="no">
															<label for="no">No</label>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li class="form-line">
											<div class="form-header-group  header-small">
												<div class="header-text httal htvam">
													<h3 id="header_28" class="form-header-content" data-component="header">Employment Desired</h3>
													<hr />
												</div>
											</div>
										</li>
										<li class="form-line row">
											<div class="col-md-6">
												<div class="form-group">
													<label for="10th_pr">Position Applying For</label>
													<select class="form-control" required id="technology">
														<option value="" disabled selected>Please Select</option>
														@foreach (var technology in ViewBag.TechnologyList)
														{
															<option value="@technology.TechnologyId">@technology.TechnologyName</option>
														}
													</select>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="skills">Skills</label>
													<input type="text" class="form-control" id="skills" aria-describedby="12prHelp" placeholder="" oninput="this.value = this.value.replace(/[^A-za-z]/g, '');">
													<small id="skill" class="form-text text-muted">Enter alphabets only</small>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="location">Agree for change location?</label>
													<div class="radio-buttons">
														<div class="radio-button">
															<input type="radio" id="location" name="location" value="yes" onchange="locationrbtn(location)" required>
															<label for="yes">Yes</label>
														</div>
														<div class="radio-button">
															<input type="radio" id="location" name="location" value="no" onchange="locationrbtn(location)">
															<label for="no">No</label>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li class="form-line">
											<div class="form-header-group  header-small">
												<div class="header-text httal htvam">
													<h3 id="header_28" class="form-header-content" data-component="header">Previous Employment</h3>
													<hr />
												</div>
											</div>
										</li>
										<li class="form-line row">
											@*<label class="form-label form-label-top form-label-auto" id="label_1" for="first_1"> Full Name<span class="form-required">*</span> </label>*@
											<div class="col-md-6">
												<div class="form-group">
													<label for="12th_pr">Do you have any work experience?</label>
													<div class="radio-buttons">
														<div class="radio-button">
															<input type="radio" id="experience" name="experience" value="no" onchange="experiencerbtn(experience)">
															<label for="no">No</label>
														</div>
														<div class="radio-button">
															<input type="radio" id="experience" name="experience" value="yes" onchange="experiencerbtn(experience)" required>
															<label for="yes">Yes</label>
														</div>

													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="experience">Number of Years in Relevant Work Experience</label>
													<input type="number" class="form-control" id="experience_number" aria-describedby="experienceHelp" placeholder="" oninput="this.value = this.value.replace(/[^0-9]/g, '');">

												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="currentsalary">Current Salary </label>
													<input type="number" class="form-control" id="currentsalary" aria-describedby="currentsalaryHelp" placeholder="" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="expectedsalary">Expected Salary</label>
													<input type="number" class="form-control" id="expectedsalary" data-type="input-textbox" aria-describedby="expectedsalaryHelp" placeholder="" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label for="Reason">Reason for Leaving?</label>
													<input type="text" class="form-control" id="Reason" aria-describedby="ReasonHelp" placeholder="">
												</div>
											</div>
										</li>
										<li class="form-line">
											<div class="form-header-group  header-small">
												<div class="header-text httal htvam">
													<h3 id="header_28" class="form-header-content" data-component="header">Reference</h3>
													<hr />
												</div>
											</div>
										</li>
										<li class="form-line row">
											@*<label class="form-label form-label-top form-label-auto" id="label_1" for="first_1"> Full Name<span class="form-required">*</span> </label>*@
											<div class="col-md-6">
												<div class="form-group">
													<label for="Reference">Reference </label>
													<input type="text" class="form-control" id="Reference" data-type="input-textbox" pattern="[A-Za-z]+" aria-describedby="first_nameHelp" placeholder="Name of Refrence" >
													<small id="Reference1" class="form-text text-muted">Enter alphabets only</small>
												</div>
											</div>
										</li>
										<li class="form-line">
											<div class="form-header-group  header-small">
												<div class="header-text httal htvam">
													<h3 id="header_28" class="form-header-content" data-component="header">Image &amp; Resume</h3>
													<hr />
												</div>
											</div>
										</li>
										@*<li>
											<div class="container1 center">
												<div class="row">
													<div class="col-md-12">
														<h2 class="white">Image Upload</h2>
														<p class="white"></p>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12 col-md-offset-3 center">
														<div class="btn-container">
															<p id="namefile">Only pics allowed! (jpg,jpeg,bmp,png)</p>
															<button type="button" id="btnup" class="btn btn-primary btn-lg">Browse for your pic!</button>
															<input type="file" value="" name="fileup" id="fileup" required="">
														</div>
													</div>
												</div>
											</div>
										</li>*@
										<li>
											<div class="container1 center">
												<div class="row">
													<div class="col-md-12">
														<h2 class="white">Resume Upload</h2>
														<p class="white"></p>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12 col-md-offset-3 center">
														<div class="btn-container">
															<p id="pdfnamefile">Only pdf allowed!</p>
															<button type="button" id="pdfbtnup" class="btn btn-primary btn-lg">Browse for your resume!</button>
															<input type="file" value="" name="resumeup" id="resumeup" required="">
														</div>
													</div>
												</div>
											</div>
										</li>
										<li class="form-line">
											<div class="form-header-group  header-small">
												<div class="header-text httal htvam">
													<h3 id="header_28" class="form-header-content" data-component="header">Send Application</h3>
													<hr />
												</div>
											</div>
										</li>
										<li class="form-line">
											<div class="form-header-group  header-small">
												<div class="header-text httal htvam">
													<p>
														By clicking the submit button below, I cerity that all of the information provided by me on this application is true and complete,
														and I understand that if any false information, ommissions, or misrepresentations are discovered, my application may be rejected.
													</p>
												</div>
											</div>
										</li>
										<li class="form-line">
											<div class="form-header-group  header-small">
												<div class="header-text httal htvam">
													<hr />
												</div>
											</div>
										</li>
									</ul>
									<div id="cid_2" class="form-input-wide" data-layout="full">
										<div data-align="center">
											<button id="submit" type="submit" class="button" data-component="button" data-content="">Submit</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	function experiencerbtn(e) {
		if (e.value == "yes") {
			$('#experience_number').prop('required', true);
			$('#currentsalary').prop('required', true);
			$('#expectedsalary').prop('required', true);
			$('#Reason').prop('required', true);
			return;
		}
		else {
			$('#experience_number').prop('required', false);
			$('#currentsalary').prop('required', false);
			$('#expectedsalary').prop('required', false);
			$('#Reason').prop('required', false);
			return null;
		}
	}
	function locationrbtn(e) {
		if (e.value == "yes") {
			return yes;
		}
		else {
			return no;
		}
	}
	$('#fileup').change(function () {
		//here we take the file extension and set an array of valid extensions
		var res = $('#fileup').val();
		var arr = res.split("\\");
		var filename = arr.slice(-1)[0];
		filextension = filename.split(".");
		filext = "." + filextension.slice(-1)[0];
		valid = [".jpg", ".png", ".jpeg", ".bmp"];
		//if file is not valid we show the error icon, the red alert, and hide the submit button
		if (valid.indexOf(filext.toLowerCase()) == -1) {
			$(".imgupload").hide("slow");
			$(".imgupload.ok").hide("slow");
			$(".imgupload.stop").show("slow");
			$('#namefile').css({ "color": "red", "font-weight": 700 });
			$('#namefile').html("File " + filename + " is not  pic!");
		} else {
			//if file is valid we show the green alert and show the valid submit
			$(".imgupload").hide("slow");
			$(".imgupload.stop").hide("slow");
			$(".imgupload.ok").show("slow");
			$('#namefile').css({ "color": "green", "font-weight": 700 });
			$('#namefile').html(filename);
		}
	});
	$('#resumeup').change(function () {
		//here we take the file extension and set an array of valid extensions
		var res = $('#resumeup').val();
		var arr = res.split("\\");
		var filename = arr.slice(-1)[0];
		filextension = filename.split(".");
		filext = "." + filextension.slice(-1)[0];
		valid = [".pdf"];
		//if file is not valid we show the error icon, the red alert, and hide the submit button
		if (valid.indexOf(filext.toLowerCase()) == -1) {
			$(".pdfupload").hide("slow");
			$(".pdfupload.ok").hide("slow");
			$(".pdfupload.stop").show("slow");
			$('#pdfnamefile').css({ "color": "red", "font-weight": 700 });
			$('#pdfnamefile').html("File " + filename + " is not  pdf!");
			$("#submitbtn").hide();
			$("#fakebtn").show();
		} else {
			//if file is valid we show the green alert and show the valid submit
			$(".imgupload").hide("slow");
			$(".imgupload.stop").hide("slow");
			$(".imgupload.ok").show("slow");
			$('#pdfnamefile').css({ "color": "green", "font-weight": 700 });
			$('#pdfnamefile').html(filename);
		}
	});
	$('#submit').click(function () {
			
		var base64String = "";
		// Get the values of the input fields
		var FirstName = $('#first_name').val();
		var LastName = $('#last_name').val();
		var Email = $('#email').val();
		var ContactNo = $('#phone_number').val();
		//var CandidateImage = $('#fileup').val();
		var Skills = $('#skills').val();
		var AgreeForChangeLocation = $('#location').val();
		var City = $('#city').val();
		var State = $('#State').val();
		var Address = $('#Address').val();
		var PR_10 = $('#10th_pr').val();
		var PR_12 = $('#12th_pr').val();
		var areaofstudy = $('#degreeinfo').val();
		var College_CGPA = $('#degreepr').val();
		var backlog = $('#backlog').val();
		var TechnologyId = $('#technology').val();
		var IsExperience = $('#experience').val();
		var TotalExperience = $('#experience_number').val();
		var CurrentCTC = $('#currentsalary').val();
		var ExpectedCTC = $('#expectedsalary').val();
		var ReasoneForChange = $('#Reason').val();
		var Reference = $('#Reference').val();
		var resume = $('#resumeup').val();
		
		//var form = $('#form');
	//	if (!form.valid()) {
	//		// If the form is not valid, return false and do not submit the form
	//		return false;
	//	}
	//	if (!form.validity.valid) {
	//	return false;
	//}
		//var createdBy = $('#create_User').val();
		if (resume.length > 0) {
			// Select the very first file from list
			var selectedFile = document.getElementById("resumeup").files;
			//Check File is not Empty
			if (selectedFile.length > 0) {
				// Select the very first file from list
				var fileToLoad = selectedFile[0];
				// FileReader function for read the file.
				var fileReader = new FileReader();
				var base64;
				// Onload of file read the file content
				fileReader.onload = function (fileLoadedEvent) {
					base64 = fileLoadedEvent.target.result;
					// Print data in console
					console.log(base64);
					base64String = base64
					var pdfString = base64.split(',')[1];
					
					$.ajax({
						url: '/Candidate/CandidateRegistration',
						method: 'POST',
						data: {
							
							firstName: FirstName,
							lastName: LastName,
							Email: Email,
							ContactNo: ContactNo,
							//CandidateImage: CandidateImage,
							Skills: Skills,
							AgreeForChangeLocation: AgreeForChangeLocation,
							City: City,
							State: State,
							Address: Address,
							PR_10: PR_10,
							PR_12: PR_12,
							areaofstudy: areaofstudy,
							College_CGPA: College_CGPA,
							backlog: backlog,
							TechnologyId: TechnologyId,
							IsExperience: IsExperience,
							TotalExperience: TotalExperience,
							CurrentCTC: CurrentCTC,
							ExpectedCTC: ExpectedCTC,
							ReasoneForChange: ReasoneForChange,
							Reference: Reference,
							resume: pdfString
						},
						success: function (response) {
							// Handle the response data here
							console.log(response);
							$('#exampleModalCenter').modal('hide');
							// $('#success-modal').modal('show');
							//setTimeout($('#success-modal'), 2000);
							alert(response.message);
							location.reload(true);
						},
						error: function (response) {
							// Handle errors here
							if (!response.IsSuccessful) {
								$('#DesignationError').text("Designation already exists. Please choose a different name.");
								return;
								//setTimeout($('#DesignationError'), 2000);
							}
							console.error(errorThrown);
						}
					});
				};
				// Convert data to base64
				fileReader.readAsDataURL(fileToLoad);
			}
		}	
	});	
</script>
@*@section Scripts {
		@{
			await Html.RenderPartialAsync("_ValidationScriptsPartial");
		}

	}*@





